<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AirspaceUsage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AirspaceUsage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <AirspaceUsage.Properties.Settings>
            <setting name="AppFolder" serializeAs="String">
                <value>\KBR Wyle\Airspace Usage</value>
            </setting>
            <setting name="ErrorLogFile" serializeAs="String">
                <value>Airspace Usage.log</value>
            </setting>
            <setting name="EventsFile" serializeAs="String">
                <value>default.events</value>
            </setting>
        </AirspaceUsage.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <AirspaceUsage.Properties.Settings>
            <setting name="MapAreasFile" serializeAs="String">
                <value>default.areas</value>
            </setting>
            <setting name="MapBackground" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="MapBoarder" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="MapBoundries" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="NorthWestLat" serializeAs="String">
                <value>36</value>
            </setting>
            <setting name="NorthWestLong" serializeAs="String">
                <value>83</value>
            </setting>
            <setting name="MapSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="RedrawMap" serializeAs="String">
                <value>True</value>
            </setting>
        </AirspaceUsage.Properties.Settings>
    </userSettings>
</configuration>